<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "{{url_for('static', filename = 'beauty.css')}}">
        <title>Parkinson</title>
    </head>

    <body>
        <header>
            
            <nav class="horizontal-nav">    
                <h1 class="fade-in">Parkinsons Disease</h1>              
                <ul>
                    <li><a href = "{{url_for('home')}}">Home</a></li>
                    <li><a href = "{{url_for('about')}}">About</a></li>
                    <li><a href = "{{url_for('contact')}}">Contact</a></li>
                </ul>
            </nav>
            
            <form class="custom-form">
                <h1 class="fade-in">About Parkinson</h1>
                <h2>Parkinson's disease (also known as Parkinson's disease) is a neurological disorder that affects the brain and spinal cord. Parkinson's disease is a neurological disorder that affect</h2>
                <br>
                <br>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Parkinson's disease is a chronic and progressive neurodegenerative disorder that primarily affects the motor system. Named after James Parkinson, the British physician who first described the condition in 1817, Parkinson's disease is characterized by a variety of motor symptoms, including tremors, stiffness, bradykinesia (slowness of movement), and postural instability. It is estimated that around 10 million people worldwide are living with Parkinson's disease.

                    The exact cause of Parkinson's disease is not yet fully understood. However, it is believed to involve a combination of genetic and environmental factors. The primary pathology of the disease involves the loss of dopamine-producing cells in a region of the brain called the substantia nigra. Dopamine is a neurotransmitter that plays a crucial role in coordinating movement, and its deficiency leads to the motor symptoms observed in Parkinson's.
                    
                    The onset of Parkinson's disease is usually gradual, with symptoms developing slowly over time. Tremors are often one of the earliest signs, typically starting in one hand or arm and eventually affecting both sides of the body. As the disease progresses, other motor symptoms may emerge, such as rigidity, bradykinesia, and problems with balance and coordination. In addition to motor symptoms, individuals with Parkinson's may also experience non-motor symptoms, including cognitive impairment, depression, anxiety, sleep disturbances, and gastrointestinal issues.
                    
                    While there is no cure for Parkinson's disease, several treatment options are available to manage its symptoms and improve the quality of life for affected individuals. The primary pharmacological approach involves the use of medications that increase dopamine levels in the brain or mimic its effects. Levodopa, a precursor to dopamine, is the most effective and commonly prescribed medication for Parkinson's. Other medications, such as dopamine agonists and MAO-B inhibitors, may also be used alone or in combination with levodopa.
                    
                    In more advanced cases of Parkinson's disease where medication alone is no longer sufficient, surgical interventions like deep brain stimulation (DBS) may be considered. DBS involves implanting electrodes into specific areas of the brain to deliver electrical impulses, which can help alleviate motor symptoms and improve overall functioning.
                    
                    Aside from medical interventions, lifestyle modifications and supportive therapies play an important role in managing Parkinson's disease. Regular exercise, physical therapy, and occupational therapy can help improve mobility, strength, and balance. Speech therapy may be beneficial for individuals who experience difficulties with speech and swallowing. Support groups and counseling can also provide emotional support and help individuals and their families cope with the challenges of living with Parkinson's.
                    
                    Research into Parkinson's disease continues to advance our understanding of the condition, its causes, and potential treatments. Scientists are exploring various avenues, including neuroprotective therapies, gene therapies, and stem cell-based approaches, with the hope of developing new treatment options and ultimately finding a cure for this complex disorder.
                    
                    Overall, Parkinson's disease is a chronic condition that requires comprehensive management involving a multidisciplinary approach. Although it presents challenges, many individuals with Parkinson's disease are able to lead fulfilling lives with the support of healthcare professionals, caregivers, and a strong support network.</p>

                    <br>
                    <br>
                    <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Read More about Parkinson</h2>
                    <br>
                    <a href="https://www.ohsu.edu/brain-institute/patients-parkinsons-disease-research">Parkinson's Info for Patients</a>
                    <a href="https://www.michaeljfox.org/webinar/major-research-breakthrough-new-biomarker-parkinsons">Parkinson's Info for Doctors</a>

            </form>
        </header>
    </body>